body { padding-top: 70px; }

body {
    background-color: #fdefec;

    font-family: 'Raleway', sans-serif !important;
}

.closet-links {
    padding: 0 10px;
}

.closet {
    background: url('/theme/assets/closet-bg.png') no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
    min-height: 450px;
}

.closet-header {
    margin: 20px 0;
    height: 20px;
}

.closet-footer {
    margin: 20px 0;
    height: 5%;
}

.selected-item {

}

.closet-itemsList {
    width: 80%;
    margin: 100px 12% 20px 12%;
    min-height: 400px;


}

.closetItem {
    width: 174px;
    height: 220px;
    background: #E9BDB9;
    border-radius: 4px;
    margin: 2px;
}

.listSelectContainer {
    width: 100%;
    float: left;
}

.header {

}

.header img {
    width: 1200px;
    margin-left: -20px;
}

.login {
    padding-left: 330px;
}

.login-header {
    margin-top: -60px;
}

.loginText {
    padding-left: 30px;
}

.header h1 {
    margin-top: 10px;
    text-align: center;
    font-size: 3.5em;
}

.close-options .btn {
    margin-left: 10px;
}

#logout {
    float: right;
}

.btn-primary {
    color: #fff;
    background-color: #b45858;
    border-color: #E9BDB9;
}

/* File Upload */

h3 {
    margin-left: 15px;
}
.fileInput {
    border-bottom: 4px solid #d3d3d3;
    border-right: 4px solid #d3d3d3;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    padding: 10px;
    margin: 15px;
    cursor: pointer;
}
.imgPreview {
    text-align: center;
    margin: 5px 15px;
    height: 200px;
    width: 500px;
    border-left: 1px solid #808080;
    border-right: 1px solid #808080;
    border-top: 5px solid #808080;
    border-bottom: 5px solid #808080;
}
.imgPreview img {
    width: 100%;
    height: 100%;
}
.previewText {
    width: 100%;
    margin-top: 20px;
}
.submitButton {
    padding: 12px;
    margin-left: 10px;
    background: #fff;
    border: 4px solid #d3d3d3;
    border-radius: 15px;
    font-weight: 700;
    font-size: 10pt;
    cursor: pointer;
}
.submitButton:hover {
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
}

.selected-item img {
    max-height: 400px;
}

.btn-login {
    width: 60%;
}

.has-danger label,  .has-danger .text-help {
    color: red;
}

.has-danger input {
    border: 1px solid red;
}

form a {
    margin-right: 10px;
}

.a-mimic {
    padding: 15px;
}

/* animation */
.fade-enter {
     right: 100px;
     transform: rotateX(90deg) rotateZ(90deg);
 }
.fade-enter-active {
    right: 0px;
    transform: rotateX(0deg) rotateZ(0deg);
    transition: .5s ease-in all;
}

.fade-leave {
    opacity: 1;
}
.fade-leave-active {
    opacity: 0;
    transition: .5s ease-out all;
}

.slide-enter {
    bottom: 300px;
    transform: rotateX(20deg) rotateZ(20deg);
}
.slide-enter-active {
    bottom: 0px;
    transform: rotateX(0deg) rotateZ(0deg);
    transition: .5s ease-in all;
}

.slide-leave {
    opacity: 1;
}
.slide-leave-active {
    opacity: 0;
    transition: .5s ease-out all;
}



/* forms */

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-group {
    margin: 15px;

}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    font-size: 16px;
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}


.colorbg {
    background: url('/theme/assets/colorbg.jpg');
}
.well-white-bg, .panel-heading{background-color:#fff!important}

input:-moz-placeholder{color:#a5a5a5}

input:-webkit-input-placeholder{color:#a5a5a5}

.signup-panel .required-field-block,.required-panel .required-field-block{position:relative}

.signup-panel .required-field-block .required-icon,.required-panel .required-field-block .required-icon{display:inline-block;vertical-align:middle;margin:-.25em .25em 0;background-color:#e8e8e8;border-color:#e8e8e8;padding:.5em .8em;color:rgba(0,0,0,.65);text-transform:uppercase;font-weight:normal;border-radius:.325em;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;-webkit-transition:background .1s linear;-moz-transition:background .1s linear;transition:background .1s linear;font-size:75%}

.signup-panel .required-field-block .required-icon,.required-panel .required-field-block .required-icon{background-color:transparent;position:absolute;top:1px;right:1px;z-index:10;margin:0;width:30px;height:30px;padding:0;text-align:center;-webkit-transition:color .2s ease;-moz-transition:color .2s ease;transition:color .2s ease}

.signup-panel .required-field-block .required-icon:after,.required-panel .required-field-block .required-icon:after{position:absolute;content:"";right:1px;top:1px;z-index:-1;width:0;height:0;border-top:0 solid transparent;border-right:30px solid transparent;border-bottom:30px solid transparent;border-left:0 solid transparent;border-right-color:inherit;-webkit-transition:border-color .2s ease;-moz-transition:border-color .2s ease;transition:border-color .2s ease}

.signup-panel .required-field-block .required-icon .text,.required-panel .required-field-block .required-icon .text{color:#b80000;font-size:26px;margin:-3px 0 0 12px}

.signup-panel .required-select-input,.required-panel .required-select-input{width:10px!important}

.signup-panel .required-select-input:after,.required-panel .required-select-input:after{border-right:none!important;border-bottom:none!important}

.panel-heading {
    overflow: auto;
}

.top20 {
    margin-top: 20px;
}


.content {
    padding: 10px;
}


@media (min-width:768px) {
    .my-row {
        position: relative;
        height: 100%;
        overflow: hidden;
    }
    .img-fluid {
        max-width: 350px;
    }
    .row.my-row > [class*="col-"] {
        position: relative
    }
    .background {
        position: absolute;
        padding-top: 200%;
        left: 0;
        top: 0;
        width: 100%;
    }
    .content {
        position: relative;
        z-index: 1;
        width: 100%;
        padding: 10px;
    }

}

.item-container {
    float: left;
}

.itemName {
    margin-bottom: 10px !important;
}

.pinButton {
    display: block !important;
}

.cover {
    background: url("/theme/assets/closet2.jpg") no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

